#new-word-form .form-group {
    margin-bottom: 0px;
}

#new-word-form {
    margin-bottom: 5px;
}

html {
    width: 400px;
    max-width: 400px;
    min-width: 400px;
}

body {
    width: 400px;
    max-width: 400px;
    min-width: 400px;
}

.content {
    max-width: 380px;
    min-width: 380px;
}

.words-form-input {
    max-width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

#new-word-strict-match-checkbox {
    margin-left: 3%;
}

#words-table {
    max-width: 380px;
    min-width: 380px;
}

#words-table .control-column {
    /* Width of 2 icons */
    min-width: 94px;
}

#words-table .strict-match-column {
    width: 15px;
}

#add-word-button {
    margin-left: 3%;
    margin-top: 5px;
}

#import-data-row {
    width: 100%;
}

#import-data {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
}

.form-validation-error {
    color: red;
}
