#new-word-form {
    margin-top: 5px;
    margin-left: 5px;
}

#new-word-form .form-group {
    margin-bottom: 5px;
}

html {
    width: 400px;
    max-width: 400px;
    min-width: 400px;
}

body {
    width: 400px;
    max-width: 400px;
    min-width: 400px;
}

.content {
    max-width: 380px;
    min-width: 380px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#words-table {
    max-width: 380px;
    min-width: 380px;
}

#words-table .control-column {
    /* Width of 2 icons */
    min-width: 94px;
}

#words-table .strict-match-column {
    width: 15px;
}

#import-tab {
    width: 100%;
    padding-left: 5px;
}

#import-data-row {
    width: 100%;
}

#import-data {
    width: 100%;
    margin-top: 10px;
    margin-left: 15px;
 }

#settings-form {
    margin-top: 5px;
    margin-left: 5px;
}

#timeout-input-box {
    width: 3em;
}

.form-validation-error {
    color: red;
}
