.highlighted-word {
    background-color: yellow;
    font-weight: bold;
    font-style: italic;
    display: inline-block !important;
}

.highlighted-word .highlighted-word-tooltip {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: initial;
    font-family: initial;

    /* Position the tooltip */
    position: absolute;
    display: block;
    z-index: 1000;
    bottom: 1.5em;
    margin-left: -70px;
}

.highlighted-word .highlighted-word-tooltip p {
    margin-top: 0px;
    padding-top: 0px;
    color: #fff;
}

.highlighted-word:hover .highlighted-word-tooltip {
    visibility: visible;
}

.highlighted-word:hover .highlighted-word-tooltip .highlighted-word-title-no-description {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.highlighted-word .highlighted-word-tooltip .highlighted-word-description {
     white-space: pre-wrap;
}

/*
    Helps displaying tooltips if parent's overflow=hidden.
*/
.highlighted-word .highlighted-word-tooltip-wrapper {
    position: absolute;
    visibility: hidden;
}

#word-highlighter-page-stats {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
}
