<div class="container" ng-controller="importController">
    <div class="row">
    <p>Enter the words you want to import to the text area below. Format: word;description, one per line. Descriptions are optional</p>
    </div>

    <div class="row">
        <form ng-submit="onImportClicked()">
            <div class="alert alert-danger row" ng-show="dupes && dupes.length > 0">
                The input contains duplicates: {{ dupes.join(', ') }}
            </div>

            <div class="alert alert-success row" ng-show="showInputSuccessConfirmation">
                The import has succeeded!
            </div>

            <div class="row input-group">
                <div class="col-sm-3 input-group-btn">
                    <button class="btn btn-primary">Import</button>
                </div>
                <div class="col-sm-9">
                    <select class="form-control" ng-model="importInput.mode">
                        <option value="{{MODE_KEEP}}">Keep existing</option>
                        <!-- TODO: enable
                        <option value="{{MODE_OVERWRITE}}">Overwrite existing</option>
                        -->
                        <option value="{{MODE_REPLACE}}">Replace the current database</option>
                    </select>
                </div>
            </div>
            <div id="import-data-row" class="row">
                <textarea id="import-data" rows="4" cols="50" ng-model="importInput.data"></textarea>
            </div>
        </form>
    </div>
</div>