<div ng-controller="importController">
    <p>Enter the words you want to import to the text area below. Format: word;description, one per line. Descriptions are optional</p>
     <form ng-submit="onImportClicked()">
        <button class="btn btn-primary">Import</button>
        <select class="form-control" ng-model="importInput.mode">
            <option value="{{MODE_KEEP}}">Keep existing</option>
            <option value="{{MODE_OVERWRITE}}">Overwrite existing</option>
            <option value="{{MODE_REPLACE}}">Replace the current database</option>
        </select>
        <textarea rows="4" cols="50" ng-model="importInput.data"></textarea>
     </form>
</div>