<!DOCTYPE html>
<html ng-app="mainDialog">
  <head>
    <meta charset="UTF-8" />
    <script src="../thirdparty/js/angular.min.js"></script>
    <script src="../thirdparty/js/ng-table.min.js"></script>
    <script src="../thirdparty/js/tinycolor-min.js"></script>
    <script src="../thirdparty/js/angularjs-color-picker.min.js"></script>
    <script src="../thirdparty/js/papaparse.min.js"></script>
    <script src="../js/lib.js"></script>
    <script src="../js/mainDialog.js"></script>
    <link rel="stylesheet" href="../thirdparty/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../thirdparty/css/ng-table.min.css" />
    <link rel="stylesheet" href="../thirdparty/css/font-awesome.min.css" />
    <link
      rel="stylesheet"
      href="../thirdparty/css/angularjs-color-picker.min.css"
    />
    <link
      rel="stylesheet"
      href="../thirdparty/css/angularjs-color-picker-bootstrap.min.css"
    />
    <link rel="stylesheet" href="../css/main-dialog.css" />
  </head>
  <body>
    <div class="content container">
      <ul class="nav nav-tabs">
        <li
          ng-click="currentTab = 'words'"
          ng-class="{active: (currentTab === 'words')}"
        >
          <a href="#">Words</a>
        </li>
        <li
          ng-click="currentTab = 'groups'"
          ng-class="{active: (currentTab === 'groups')}"
        >
          <a href="#">Groups</a>
        </li>
        <li
          ng-click="currentTab = 'importExport'"
          ng-class="{active: (currentTab === 'importExport')}"
        >
          <a href="#">Import/Export</a>
        </li>
        <li
          ng-click="currentTab = 'settings'"
          ng-class="{active: (currentTab === 'settings')}"
        >
          <a href="#">Settings</a>
        </li>
        <li
          ng-click="currentTab = 'history'"
          ng-class="{active: (currentTab === 'history')}"
        >
          <a href="#">History</a>
        </li>
      </ul>
      <div ng-switch="currentTab">
        <div ng-switch-when="words">
          <div ng-include="'wordsTab.html'"></div>
        </div>
        <div ng-switch-when="importExport">
          <div ng-include="'importExportTab.html'"></div>
        </div>
        <div ng-switch-when="groups">
          <div ng-include="'groupsTab.html'"></div>
        </div>
        <div ng-switch-when="settings">
          <div ng-include="'settingsTab.html'"></div>
        </div>
        <div ng-switch-when="history">
          <div ng-include="'historyTab.html'"></div>
        </div>
      </div>
    </div>
  </body>
</html>
