<!DOCTYPE html>
<html ng-app="mainDialog">
  <head>
    <meta charset="UTF-8">
    <script src="../angular.min.js"></script>
    <script src="../ng-table.min.js"></script>
    <script src="../bootstrap.min.js"></script>
    <script src="../lib.js"></script>
    <script src="../mainDialog.js"></script>
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../ng-table.min.css">
    <link rel="stylesheet" href="../css/main-dialog.css">
  </head>
  <body>
    <div class="content">
      <ul class="nav nav-tabs">
        <li ng-click="currentTab = 'words'" ng-class="{active: (currentTab === 'words')}"><a href="#">Words</a></li>
        <li ng-click="currentTab = 'import'" ng-class="{active: (currentTab === 'import')}"><a href="#">Import</a></li>
        <li ng-click="currentTab = 'settings'" ng-class="{active: (currentTab === 'settings')}"><a href="#">Settings</a></li>
      </ul>
      <div ng-switch="currentTab">
        <div ng-switch-when="words"><div ng-include="'wordsTab.html'"></div></div>
        <div ng-switch-when="import"><div ng-include="'importTab.html'"></div></div>
        <div ng-switch-when="settings"><div ng-include="'settingsTab.html'"></div></div>
      </div>
    </div>
  </body>
</html>
