<div id="settings-tab" ng-controller="settingsController">
  <div class="well well-sm">
    <form id="settings-form" ng-show="settings" name="settingsForm" novalidate>
      <div class="form-group row">
        <label for="enable-page-stats" class="col-xs-4 col-form-label">
          <a
            href="#"
            data-toggle="tooltip"
            title="The popup in the bottom right corner of the page."
          >
            Enable page load stats
          </a>
        </label>
        <div class="col-xs-8">
          <input
            type="checkbox"
            class="form-control"
            ng-model="settings.enablePageStats"
            ng-change="save(settingsForm.$valid)"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="enable-highlighting" class="col-xs-4 col-form-label">
          <a
            href="#"
            data-toggle="tooltip"
            title="Disables word highlighting if unchecked."
          >
            Enable highlighting
          </a>
        </label>
        <div class="col-xs-8">
          <input
            type="checkbox"
            class="form-control"
            ng-model="settings.enableHighlighting"
            ng-change="save(settingsForm.$valid)"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="timeout" class="col-xs-4 col-form-label">
          <a
            href="#"
            data-toggle="tooltip"
            title="If the list of words is long and the page is big, highlighting all words can be rather slow. The timeout guarantees that Word Highlighter won't slow your browser down too much."
          >
            Timeout (seconds)
          </a>
        </label>
        <div class="col-xs-8">
          <input
            id="timeout-input-box"
            name="timeout"
            class="form-control"
            ng-model="settings.timeout"
            type="number"
            ng-change="save(settingsForm.$valid)"
            required
          />
          <div class="form-validation-error">
            <div ng-show="settingsForm.timeout.$error.required">Required</div>
            <div ng-show="settingsForm.timeout.$error.number">
              Not valid number
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="show-tooltip" class="col-xs-4 col-form-label">
          <a
            href="#"
            data-toggle="tooltip"
            title="When it shows tooltips on hovering over highlighted words."
          >
            Show tooltips on hover
          </a>
        </label>
        <div class="col-xs-8">
          <select
            name="show-tooltip"
            class="form-control"
            ng-model="settings.showTooltip"
            ng-change="save(settingsForm.$valid)"
          >
            <option value="WITH_DESCRIPTION">
              When the word has a description
            </option>
            <option value="ALWAYS">Always</option>
            <option value="NEVER">Never</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="new-group-denylist" class="col-xs-4 col-form-label">
          Don't highlight on these pages. You can use wildcards * and ?.
        </label>
        <div class="col-xs-8">
          <textarea
            class="form-control"
            rows="4"
            ng-model="settings.blockedWebsitesStr"
            ng-change="save(settingsForm.$valid)"
            placeholder="e.g. *.wikipedia.org"
          ></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label for="new-group-allowlist" class="col-xs-4 col-form-label">
          Except on these pages
        </label>
        <div class="col-xs-8">
          <textarea
            class="form-control"
            rows="4"
            ng-model="settings.allowedWebsitesStr"
            ng-change="save(settingsForm.$valid)"
            placeholder="e.g. en.wikipedia.org"
          ></textarea>
        </div>
      </div>
    </form>
  </div>

  <p>Set group-specific settings under the <i>Groups</i> tab.</p>
</div>
