<div ng-controller="wordsController">
  <form name="newWordForm" id="new-word-form" ng-submit="onAddNewWordClicked()" novalidate>
    <div class="form-group row">
      <label for="new-word-value" class="col-xs-3 col-form-label">Word:</label>
      <div class="col-xs-9">
        <input
          ng-model="newWord.value"
          name="value"
          minlength="3"
          type="text"
          class="form-control"
          required/>
        <div ng-show="newWordForm.$submitted" class="form-validation-error">
          <div ng-show="newWordForm.value.$error.required">Required</div>
          <div ng-show="newWordForm.value.$error.minlength">Must be 3 characters or longer</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="new-word-description" class="col-xs-3 col-form-label">Description (optional):</label>
      <div class="col-xs-9">
        <!-- TODO: text area -->
        <input ng-model="newWord.description" type="text" class="form-control"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="new-word-strict-match" class="col-xs-3 col-form-label">Use strict match (optional):</label>
      <div class="col-xs-9">
        <input id="new-word-strict-match-checkbox" ng-model="newWord.strictMatch" type="checkbox">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-3">&nbsp;</div> <!-- offset-* doesn't work with xs' -->
      <div class="col-xs-9">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </div>
  </form>

  <div class="alert alert-danger" ng-show="showAddingDupeError">
    This word is already present in the dictionary.
  </div>

  <hr>

    <table
      id="words-table"
      ng-table="tableParams"
      class="table table-condensed table-bordered table-striped"
    >
      <tr ng-repeat="dictionaryEntry in $data track by $index" ng-form="dictionaryEntryForm">
        <td title="'Word'" sortable="'value'" ng-switch="dictionaryEntry.isEditing"ng-form="value">
          <span ng-switch-default class="editable-text">{{dictionaryEntry.value}}</span>
          <div class="controls" ng-switch-when="true">
            <input type="text" name="value" minlength="3" ng-model="dictionaryEntry.value" class="editable-input form-control input-sm" required />
            <div ng-show="dictionaryEntryForm.value.$dirty" class="form-validation-error">
              <div ng-show="dictionaryEntryForm.value.$error.required">Required</div>
              <div ng-show="dictionaryEntryForm.value.$error.minlength">Must be 3 characters or longer</div>
            </div>
          </div>
          <div class="alert alert-danger" ng-show="dictionaryEntry.isDupe">
            This word is already present in the dictionary.
          </div>
        </td>
        <td title="'Description'" sortable="'description'" ng-switch="dictionaryEntry.isEditing" ng-form="description">
          <span ng-switch-default class="editable-text">{{dictionaryEntry.description}}</span>
          <div class="controls" ng-switch-when="true">
            <input type="text" name="description" ng-model="dictionaryEntry.description" class="editable-input form-control input-sm" />
          </div>
        </td>
        <td title="'Strict Match'" sortable="'strictMatch'" ng-switch="dictionaryEntry.isEditing" class="strict-match-column" ng-form="strictMatch">
          <span ng-switch-default>{{dictionaryEntry.strictMatch ? 'Yes' : 'No'}}</span>
          <div class="controls" ng-switch-when="true">
            <input type="checkbox" name="strictMatch" ng-model="dictionaryEntry.strictMatch" class="form-control" />
          </div>
        </td>
        <td class="control-column">
          <span ng-show="!dictionaryEntry.isDeleting">
            <span ng-show="dictionaryEntry.isEditing">
              <button class="btn btn-primary btn-sm" ng-click="save(dictionaryEntry, dictionaryEntryForm)" ng-disabled="dictionaryEntryForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
              <button class="btn btn-default btn-sm" ng-click="cancel(dictionaryEntry, dictionaryEntryForm)"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
            <span ng-show="!dictionaryEntry.isEditing">
              <button class="btn btn-default btn-sm" ng-click="dictionaryEntry.isEditing = true"><span class="glyphicon glyphicon-pencil"></span></button>
              <button class="btn btn-danger btn-sm" ng-click="dictionaryEntry.isDeleting = true"><span class="glyphicon glyphicon-trash"></span></button>
            </span>
          </span>
          <span ng-show="dictionaryEntry.isDeleting">
              <div>Are you sure you want to delete this word?</div>
              <div>
                <button class="btn btn-danger btn-sm" ng-click="delete(dictionaryEntry)">Confirm</button>
                <button class="btn btn-default btn-sm" ng-click="cancel(dictionaryEntry, dictionaryEntryForm)">Cancel</button>
              </div>
          </span>
        </td>
      </tr>
    </table>
</div>
