<div ng-controller="mainDialogController">
  <form id="new-word-form" ng-submit="onAddNewWordClicked()">
    <div class="form-group">
      <label for="new-word-value">Word:</label>
      <input ng-model="newWord.value" type="text" class="form-control" id="new-word-value">
    </div>
    <div class="form-group">
      <label for="new-word-description">Description (optional):</label>
      <input ng-model="newWord.description" type="tel" class="form-control" id="new-word-description">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

    <table
      ng-table="tableParams"
      class="table table-condensed table-bordered table-striped"
    >
      <tr ng-repeat="dictionaryEntry in $data track by $index" ng-form="dictionaryEntryForm">
        <td title="'Word'" sortable="'value'" ng-switch="dictionaryEntry.isEditing" ng-class="value.$dirty ? 'bg-warning' : ''" ng-form="value">
          <span ng-switch-default class="editable-text">{{dictionaryEntry.value}}</span>
          <div class="controls" ng-class="value.$invalid && value.$dirty ? 'has-error' : ''" ng-switch-when="true">
            <input type="text" name="value" ng-model="dictionaryEntry.value" class="editable-input form-control input-sm" required />
          </div>
        </td>
        <td>
          <button class="btn btn-primary btn-sm" ng-click="save(dictionaryEntry, dictionaryEntryForm)" ng-if="dictionaryEntry.isEditing" ng-disabled="dictionaryEntry.$pristine || dictionaryEntry.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
          <button class="btn btn-default btn-sm" ng-click="cancel(dictionaryEntry, dictionaryEntryForm)" ng-if="dictionaryEntry.isEditing"><span class="glyphicon glyphicon-remove"></span></button>
          <button class="btn btn-default btn-sm" ng-click="dictionaryEntry.isEditing = true" ng-if="!dictionaryEntry.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
          <button class="btn btn-danger btn-sm" ng-click="delete(dictionaryEntry)" ng-if="!dictionaryEntry.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
        </td>
      </tr>
    </table>
</div>
