<div ng-controller="mainDialogController">
  <form id="new-word-form" ng-submit="onAddNewWordClicked()">
    <div class="form-group">
      <label for="new-word-value">Word:</label>
      <input ng-model="newWord.value" type="text" class="form-control" id="new-word-value"/>
    </div>
    <div class="form-group">
      <label for="new-word-description">Description (optional):</label>
      <input ng-model="newWord.description" type="tel" class="form-control" id="new-word-description"/>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

  <div class="alert alert-danger" ng-show="showAddingDupeError">
    This word is already present in the dictionary.
  </div>

    <table
      ng-table="tableParams"
      class="table table-condensed table-bordered table-striped"
    >
      <tr ng-repeat="dictionaryEntry in $data track by $index" ng-form="dictionaryEntryForm">
        <td title="'Word'" sortable="'value'" ng-switch="dictionaryEntry.isEditing" ng-class="value.$dirty ? 'bg-warning' : ''" ng-form="value">
          <span ng-switch-default class="editable-text">{{dictionaryEntry.value}}</span>
          <div class="controls" ng-class="value.$invalid && value.$dirty ? 'has-error' : ''" ng-switch-when="true">
            <input type="text" name="value" ng-model="dictionaryEntry.value" class="editable-input form-control input-sm" required />
          </div>
        </td>
        <td title="'Description'" sortable="'description'" ng-switch="dictionaryEntry.isEditing" ng-class="description.$dirty ? 'bg-warning' : ''" ng-form="description">
          <span ng-switch-default class="editable-text">{{dictionaryEntry.description}}</span>
          <div class="controls" ng-class="description.$invalid && description.$dirty ? 'has-error' : ''" ng-switch-when="true">
            <input type="text" name="description" ng-model="dictionaryEntry.description" class="editable-input form-control input-sm" />
          </div>
        </td>
        <td>
          <span ng-show="!dictionaryEntry.isDeleting">
            <span ng-show="dictionaryEntry.isEditing">
              <button class="btn btn-primary btn-sm" ng-click="save(dictionaryEntry, dictionaryEntryForm)" ng-disabled="dictionaryEntry.$pristine || dictionaryEntry.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
              <button class="btn btn-default btn-sm" ng-click="cancel(dictionaryEntry, dictionaryEntryForm)"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
            <span ng-show="!dictionaryEntry.isEditing">
              <button class="btn btn-default btn-sm" ng-click="dictionaryEntry.isEditing = true"><span class="glyphicon glyphicon-pencil"></span></button>
              <button class="btn btn-danger btn-sm" ng-click="dictionaryEntry.isDeleting = true"><span class="glyphicon glyphicon-trash"></span></button>
            </span>
          </span>
          <span ng-show="dictionaryEntry.isDeleting">
              <div>Are you sure you want to delete this word?</div>
              <div>
                <button class="btn btn-danger btn-sm" ng-click="delete(dictionaryEntry)">Confirm</button>
                <button class="btn btn-default btn-sm" ng-click="cancel(dictionaryEntry)">Cancel</button>
              </div>
          </span>
        </td>
      </tr>
    </table>
</div>
